--
-- PostgreSQL database dump
--

\restrict GRbIjK9JCxsjeO7ysQx86aBrqbmgUdqN2N3GdeerM0nRd4oUaQfAHAe2GZccdpl

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bacs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bacs (
    id integer NOT NULL,
    reference character varying(50) NOT NULL,
    quartier_id integer,
    latitude numeric(10,8) NOT NULL,
    longitude numeric(11,8) NOT NULL,
    type character varying(50),
    capteur_id character varying(100),
    seuil_alerte integer DEFAULT 80,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bacs OWNER TO postgres;

--
-- Name: bacs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bacs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bacs_id_seq OWNER TO postgres;

--
-- Name: bacs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bacs_id_seq OWNED BY public.bacs.id;


--
-- Name: collectes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collectes (
    id bigint NOT NULL,
    bac_id integer,
    agent character varying(255),
    camion_id character varying(100),
    date_collecte timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    niveau_avant integer,
    note text,
    CONSTRAINT collectes_niveau_avant_check CHECK (((niveau_avant >= 0) AND (niveau_avant <= 100)))
);


ALTER TABLE public.collectes OWNER TO postgres;

--
-- Name: collectes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collectes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collectes_id_seq OWNER TO postgres;

--
-- Name: collectes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collectes_id_seq OWNED BY public.collectes.id;


--
-- Name: lectures_capteurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lectures_capteurs (
    id bigint NOT NULL,
    bac_id integer,
    niveau_remplissage integer,
    batterie integer,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT lectures_capteurs_batterie_check CHECK (((batterie >= 0) AND (batterie <= 100))),
    CONSTRAINT lectures_capteurs_niveau_remplissage_check CHECK (((niveau_remplissage >= 0) AND (niveau_remplissage <= 100)))
);


ALTER TABLE public.lectures_capteurs OWNER TO postgres;

--
-- Name: lectures_capteurs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lectures_capteurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lectures_capteurs_id_seq OWNER TO postgres;

--
-- Name: lectures_capteurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lectures_capteurs_id_seq OWNED BY public.lectures_capteurs.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    user_id uuid,
    type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    data jsonb,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: quartiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quartiers (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    ville character varying(100) NOT NULL
);


ALTER TABLE public.quartiers OWNER TO postgres;

--
-- Name: quartiers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quartiers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quartiers_id_seq OWNER TO postgres;

--
-- Name: quartiers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quartiers_id_seq OWNED BY public.quartiers.id;


--
-- Name: signalements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.signalements (
    id integer NOT NULL,
    citoyen_id uuid,
    type character varying(50) NOT NULL,
    latitude numeric(10,8) NOT NULL,
    longitude numeric(11,8) NOT NULL,
    description text,
    photo_url character varying(255),
    statut character varying(50) DEFAULT 'en_attente'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    resolved_at timestamp without time zone
);


ALTER TABLE public.signalements OWNER TO postgres;

--
-- Name: signalements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.signalements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.signalements_id_seq OWNER TO postgres;

--
-- Name: signalements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.signalements_id_seq OWNED BY public.signalements.id;


--
-- Name: tournees_optimisees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tournees_optimisees (
    id bigint NOT NULL,
    nom character varying(255) NOT NULL,
    description text,
    quartier_id integer,
    tournee_data jsonb NOT NULL,
    distance_km numeric(10,2),
    duree_minutes integer,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tournees_optimisees OWNER TO postgres;

--
-- Name: tournees_optimisees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tournees_optimisees_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournees_optimisees_id_seq OWNER TO postgres;

--
-- Name: tournees_optimisees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tournees_optimisees_id_seq OWNED BY public.tournees_optimisees.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nom character varying(100),
    role character varying(50) DEFAULT 'citoyen'::character varying NOT NULL,
    quartier_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: bacs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bacs ALTER COLUMN id SET DEFAULT nextval('public.bacs_id_seq'::regclass);


--
-- Name: collectes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectes ALTER COLUMN id SET DEFAULT nextval('public.collectes_id_seq'::regclass);


--
-- Name: lectures_capteurs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectures_capteurs ALTER COLUMN id SET DEFAULT nextval('public.lectures_capteurs_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: quartiers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quartiers ALTER COLUMN id SET DEFAULT nextval('public.quartiers_id_seq'::regclass);


--
-- Name: signalements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signalements ALTER COLUMN id SET DEFAULT nextval('public.signalements_id_seq'::regclass);


--
-- Name: tournees_optimisees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournees_optimisees ALTER COLUMN id SET DEFAULT nextval('public.tournees_optimisees_id_seq'::regclass);


--
-- Data for Name: bacs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bacs (id, reference, quartier_id, latitude, longitude, type, capteur_id, seuil_alerte, created_at) FROM stdin;
1	BAC001	1	48.85660000	2.35220000	ordures	SENSOR001	80	2026-02-18 15:57:39.128587
2	BAC002	1	48.85700000	2.35300000	recyclage	SENSOR002	80	2026-02-18 15:57:39.128587
3	BAC003	1	48.85500000	2.35100000	verre	SENSOR003	80	2026-02-18 15:57:39.128587
\.


--
-- Data for Name: collectes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collectes (id, bac_id, agent, camion_id, date_collecte, niveau_avant, note) FROM stdin;
1	1	´┐¢quipe A	CAMION-01	2026-02-20 17:32:15.735007	95	Bac plein, vidange effectu´┐¢e
\.


--
-- Data for Name: lectures_capteurs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lectures_capteurs (id, bac_id, niveau_remplissage, batterie, "timestamp") FROM stdin;
1	1	45	98	2026-02-18 15:59:29.141291
2	1	67	97	2026-02-18 15:59:29.141291
3	2	82	45	2026-02-18 15:59:29.141291
4	2	91	44	2026-02-18 15:59:29.141291
5	3	23	100	2026-02-18 15:59:29.141291
6	1	75	98	2026-02-20 12:13:32.617981
7	1	95	98	2026-02-20 14:34:14.350692
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, type, title, message, data, is_read, created_at) FROM stdin;
1	3db56def-9959-49e9-89a5-240f1d515c6b	alerte	Bac plein - BAC001	Le bac BAC001 est plein ├á 95%	{"bac_id": 1, "niveau": 95, "capteur_id": "SENSOR001"}	f	2026-02-20 14:34:14.38256
\.


--
-- Data for Name: quartiers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quartiers (id, nom, ville) FROM stdin;
1	FADIA	Parcelle
\.


--
-- Data for Name: signalements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.signalements (id, citoyen_id, type, latitude, longitude, description, photo_url, statut, created_at, resolved_at) FROM stdin;
1	3db56def-9959-49e9-89a5-240f1d515c6b	bac_plein	48.85660000	2.35220000	Bac compl´┐¢tement plein depuis 3 jours	\N	en_attente	2026-02-20 12:40:45.633732	\N
\.


--
-- Data for Name: tournees_optimisees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tournees_optimisees (id, nom, description, quartier_id, tournee_data, distance_km, duree_minutes, created_by, created_at) FROM stdin;
1	Tourn´┐¢e matinale 23/02	Bacs rouges du quartier centre	1	[{"ordre": 0, "latitude": 48.8566, "est_depot": true, "longitude": 2.3522, "reference": "D´┐¢p´┐¢t"}, {"id": 1, "etat": "rouge", "ordre": 1, "latitude": 48.857, "longitude": 2.353, "reference": "BAC001"}]	12.50	45	3db56def-9959-49e9-89a5-240f1d515c6b	2026-02-23 20:35:36.902308
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password_hash, nom, role, quartier_id, created_at) FROM stdin;
3db56def-9959-49e9-89a5-240f1d515c6b	citoyen@test.com	$2b$10$QQkDLcedZ.9KAaSGlTKJieuIILOaDHznq0y3ZhQU/okpmVX7aDQhi	Citoyen Test	admin	\N	2026-02-20 12:37:17.694948
\.


--
-- Name: bacs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bacs_id_seq', 3, true);


--
-- Name: collectes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collectes_id_seq', 1, true);


--
-- Name: lectures_capteurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lectures_capteurs_id_seq', 7, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, true);


--
-- Name: quartiers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quartiers_id_seq', 1, true);


--
-- Name: signalements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.signalements_id_seq', 1, true);


--
-- Name: tournees_optimisees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tournees_optimisees_id_seq', 1, true);


--
-- Name: bacs bacs_capteur_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bacs
    ADD CONSTRAINT bacs_capteur_id_key UNIQUE (capteur_id);


--
-- Name: bacs bacs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bacs
    ADD CONSTRAINT bacs_pkey PRIMARY KEY (id);


--
-- Name: bacs bacs_reference_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bacs
    ADD CONSTRAINT bacs_reference_key UNIQUE (reference);


--
-- Name: collectes collectes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectes
    ADD CONSTRAINT collectes_pkey PRIMARY KEY (id);


--
-- Name: lectures_capteurs lectures_capteurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectures_capteurs
    ADD CONSTRAINT lectures_capteurs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: quartiers quartiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quartiers
    ADD CONSTRAINT quartiers_pkey PRIMARY KEY (id);


--
-- Name: signalements signalements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signalements
    ADD CONSTRAINT signalements_pkey PRIMARY KEY (id);


--
-- Name: tournees_optimisees tournees_optimisees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournees_optimisees
    ADD CONSTRAINT tournees_optimisees_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_collectes_bac_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collectes_bac_id ON public.collectes USING btree (bac_id);


--
-- Name: idx_collectes_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collectes_date ON public.collectes USING btree (date_collecte);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: idx_tournees_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tournees_created_at ON public.tournees_optimisees USING btree (created_at);


--
-- Name: idx_tournees_quartier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tournees_quartier ON public.tournees_optimisees USING btree (quartier_id);


--
-- Name: bacs bacs_quartier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bacs
    ADD CONSTRAINT bacs_quartier_id_fkey FOREIGN KEY (quartier_id) REFERENCES public.quartiers(id);


--
-- Name: collectes collectes_bac_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collectes
    ADD CONSTRAINT collectes_bac_id_fkey FOREIGN KEY (bac_id) REFERENCES public.bacs(id) ON DELETE CASCADE;


--
-- Name: lectures_capteurs lectures_capteurs_bac_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lectures_capteurs
    ADD CONSTRAINT lectures_capteurs_bac_id_fkey FOREIGN KEY (bac_id) REFERENCES public.bacs(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: signalements signalements_citoyen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.signalements
    ADD CONSTRAINT signalements_citoyen_id_fkey FOREIGN KEY (citoyen_id) REFERENCES public.users(id);


--
-- Name: tournees_optimisees tournees_optimisees_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournees_optimisees
    ADD CONSTRAINT tournees_optimisees_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: tournees_optimisees tournees_optimisees_quartier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tournees_optimisees
    ADD CONSTRAINT tournees_optimisees_quartier_id_fkey FOREIGN KEY (quartier_id) REFERENCES public.quartiers(id);


--
-- PostgreSQL database dump complete
--

\unrestrict GRbIjK9JCxsjeO7ysQx86aBrqbmgUdqN2N3GdeerM0nRd4oUaQfAHAe2GZccdpl

